
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	background-color:#abc123;
	
}
.s{
	font-family: 'Pacifico', cursive;
	 color:#fff;
}
.fundo{
  background-color:#2d1709;	
  color:#fff;
}
